<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, :class => 'sr-only' %><br />
    <%= f.text_field :name, :class => 'form-control', :id => 'inputName',
      :placeholder => 'Name or Pseudonym', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email, :class => 'sr-only' %><br />
    <%= f.text_field :email, :class => 'form-control', :id => 'inputEmail', :placeholder => 'Email' %>
  </div>

  <div class="field">
    <%= f.label :bio, :class => 'sr-only' %><br />
    <%= f.text_area :bio, :class => 'form-control', :id => 'inputBio'%>
  </div>

  <div class="field">
    <%= f.label :current_password, :class => 'sr-only' %><br />
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password (for security)" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Change my password</h3>
<%= button_to "Change my password", edit_password_path(resource_name) %>

<h3>Cancel my account</h3>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Back", :back %>
