<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, :class => 'sr-only' %><br />
    <%= f.text_field :name, :class => 'form-control', :id => 'inputName',
      :placeholder => 'Name or Pseudonym', autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, :class => 'sr-only' %><br />
    <%= f.text_field :email, :class => 'form-control', :id => 'inputEmail', :placeholder => 'Email' %>
  </div>

  <div class="field">
    <%= f.label :bio, :class => 'sr-only' %><br />
    <%= f.text_area :bio, :class => 'form-control', :id => 'inputBio', placeholder: 'Bio: who are you?'%>
  </div>

  <div class="field">
    <% placeholder = "Password"%>
    <% placeholder = "Password (#{@minimum_password_length} characters minimum)" if @minimum_password_length %>
    <%= f.label :password, :class => 'sr-only' %><br />
    <%= f.password_field :password, :class => 'form-control',
      :placeholder => placeholder,
      autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'sr-only' %><br />
    <%= f.password_field :password_confirmation, :class => 'form-control', :id => 'inputPassword',
      :placeholder => 'Repeat Password', autocomplete: "off" %>
  </div>
  <br/>
  <%= recaptcha_tags %>
  <br/>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
