<p>
  <strong><%= comment.author.name %></strong>
  <i>(<%= local_time_ago(comment.updated_at)%>)</i>
  <% if comment.author.id == current_author.try(:id) %>
  <span class="commentmenu">
    <%= link_to edit_comment_path(comment) do%>
      <i class="_plxs fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <%= link_to comment, data: {:confirm => 'Are you sure you wish to delete this comment?'}, :method => :delete do%>
      <i class="_plxs fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </span>
  <% end %>
  <br/>
  <%= comment.body %>
</p>
