<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body, class: 'sr-only' %>
    <%= form.text_area :body, id: :comment_body %>
  </div>

  <%= form.hidden_field :entry_id, :value => comment.entry_id %>
  <%= form.hidden_field :visibility, :value => comment.visibility %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
