<h4>Comment on "<%= link_to @comment.entry.title, @comment.entry %>"</h4>
<%= render partial: 'comment', object: @comment %>
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
