<div class="_block">
  <h4 class="_inline-block"><%= link_to entry.title.blank? ? '(empty title)': entry.title, entry %> </h4>
  <span><b>&nbsp;-&nbsp;</b><%= local_time_ago(entry.updated_at)%></span>
  <% if entry.author.id == current_author.try(:id) %>
  <%= link_to edit_entry_path(entry) do%>
    <i class="_pls fa fa-pencil" aria-hidden="true"></i>
  <% end %>
  <% end %>
  <div><%=  simple_format(entry.body.blank? ? 'Looks like nothing was written here...': entry.body.truncate(240)) %> </div>
</div>
