<div class="text-options">
  <div class="options">
    <span class="no-overflow">
      <span class="lengthen ui-inputs">
        <button class="url"><i class="fa fa-link" aria-hidden="true"></i></button>
        <input class="url-input" type="text" placeholder="Type or Paste URL here"/>
        <button class="bold">b</button>
        <button class="italic">i</button>
        <button class="quote"><i class="fa fa-quote-right" aria-hidden="true"></i></button>
      </span>
    </span>
  </div>
</div>

<section id="entry-editor">
  <header contenteditable="true" class="header"><%= @entry.title %></header>
  <article contenteditable="true" class="content"><%= raw @entry.body %></article>
</section>

<div>
  <span title="Choose which journal this entry goes in.">Select Journal</span>
  <%= select_tag "Journal",
    options_from_collection_for_select(current_author.journals, "id", "title", @entry.journal_id)
  %>
  <button id="saveEntry" onclick="ZenPen.editor.saveAndRedirect()">Save to Server</button>
  <%= link_to @entry, data: {:confirm => 'Are you sure you wish to delete this entry?'}, :method => :delete do%>
    <i class="_pls fa fa-2x fa-trash" title="Discard this Entry" style="vertical-align: middle" aria-hidden="true"></i>
  <% end %>
</div>
