<h1>
  <%= @entry.title %>
</h1>
<h5>
  <span>
    <u><%= link_to @entry.journal.title, @entry.journal, class: "_prs" %></u>
    <br/>
    <%= local_time(@entry.created_at) %>
    <% if @entry.secret? %>
    <i class="fa fa-lock" aria-hidden="true" title="This entry is private. Only you can see it."></i>
    <% elsif @entry.internet? %>
    <i class="fa fa-globe" aria-hidden="true" title="This entry is public. The entire internet can see it."></i>
    <% end %>
  </span>
  <% if @entry.author.id == current_author.try(:id) %>
  <span class="entrymenu">
    <%= link_to edit_entry_path(@entry) do%>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <%= link_to @entry, data: {:confirm => 'Are you sure you wish to delete this entry?'}, :method => :delete do%>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </span>
  <% end %>
</h5>
<h3 class="_inline-block"><%= @entry.author.name %></h3>


<article container>
  <%= @entry.body.blank? ? 'Looks like nothing was written here...' : @entry.body.html_safe %>
</article>
<%= link_to 'New Comment', new_entry_comment_path(@entry) %>
<%= render partial: 'comments/comment', collection: @entry.comments %>
