<%= form_with(model: author, local: true, class: 'form-signin') do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
  <%= form.label :password, :class => 'sr-only' %><br />
  <%= form.password_field :password, :class => 'form-control', :placeholder => 'password' %>
</div>
<div class="field">
  <%= form.label :password_confirmation, :class => 'sr-only' %><br />
  <%= form.password_field :password_confirmation, :class => 'form-control', :id => 'inputPassword', :placeholder => 'password_confirmation' %>
</div>
<div class="actions">
  <%= form.submit "Sign Up", :class => 'btn btn-lg btn-primary btn-block' %>
</div>
