<%= form_with(model: author, local: true, class: 'form-signin') do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, :class => 'sr-only' %><br />
    <%= form.text_field :name, :class => 'form-control', :id => 'inputName', :placeholder => 'name' %>
  </div>
  <div class="field">
    <%= form.label :email, :class => 'sr-only' %><br />
    <%= form.text_field :email, :class => 'form-control', :id => 'inputEmail', :placeholder => 'email' %>
  </div>

  <div class="field">
    <%= form.label :bio, :class => 'sr-only' %><br />
    <%= form.text_area :bio, :class => 'form-control', :id => 'inputBio'%>
  </div>
  <div class="actions">
    <%= form.submit "Sign Up", :class => 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
