<p id="notice"><%= notice %></p>
<h1 class="_inline-block"><%= @author.name %></h1>
<% if current_author == @author %>
  <%= link_to edit_author_registration_url, class: "_pls" do%>
  <i class="_plxs fa fa-pencil" aria-hidden="true">
    <span>&nbsp;Edit</span>
  </i>
  <%end%>
  <br/>
  <a href="/mydata">Download all my Data (.json)</a>
<% end %>
<article container>
  <%= simple_format(@author.bio) %>
</article>

<% collection = @author.journals.allowed(current_author) %>
<% if collection.count > 0 %>
  <h2 class="_inline"><%= @author.name.possessive %> <%=collection.count > 1 ? "Journals":"Journal" %></h2>
  <% if @author == current_author%>
    <%= link_to new_journal_path do %>
      <span class="_prxs _pls">New&nbsp;Journal&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
    <% end %>
  <% end %>
  <%= render partial: 'journals/journal', collection: collection %>
<% else %>
  <h3><%= @author.name.split.first%> doesn't have any journals you're allowed to see.</h3>
<% end %>

<br/>
