<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <% placeholder = "Password"%>
    <% placeholder = "Password (#{@minimum_password_length} characters minimum)" if @minimum_password_length %>
    <%= f.label :password, :class => 'sr-only' %><br />
    <%= f.password_field :password, :class => 'form-control',
      :placeholder => placeholder, autocomplete: "off", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'sr-only' %><br />
    <%= f.password_field :password_confirmation, :class => 'form-control', :id => 'inputPassword',
      :placeholder => 'Repeat Password', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, :class => 'sr-only' %><br />
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password (for security)" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
