<h1> Welcome to ReflectionPad</h1>
<h2>Reflection Pad is a simple place to journal with minimal fuss.</h2>
<p> It was inspired by distraction-free writing environments and aims for legibility and speed.</p>
<p> As an author, you have the ability to keep multiple journals, with the ability to share them with
  other writers at ReflectionPad.  Write entries in secret journals or open your journals up to the whole
  internet for a simple blog.
</p>
<p>
  <a href="<%= new_author_session_path %>">&nbsp;Log&nbsp;in</a> or
  <a href="<%= new_registration_path(Author) %>">Sign&nbsp;up</a> to gain
  access to member-only jounals and comments.
</p>
