<% if current_author %>
  <h2>See what people are writing</h2>
<% else %>
  <h2>Start reading public jounals today!</h2>
<% end %>
<% authors = Author.order(:active_at).limit(10) %>
<% journals = Journal.allowed(current_author).
                      where.not(author: current_author).order(:active_at).limit(5) %>

<div grid>
  <div column=9>
    <%= render partial: 'journals/journal_card', collection: journals %>
  </div>
  <div column=3>
    <h3>Authors</h3>
    <%= render partial: 'authors/author_small', collection: authors %>
  </div>
</div>
