<%= form_with(model: journal, local: true) do |form| %>
  <% if journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% journal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="title-label">Title:&nbsp;</h1>
  <%= form.text_field :title, class: "title-input" %>
  <br/>
  <br/>
  <h1 class="inline-form">Visibility:&nbsp;</h1>
  <div grid>
    <div class="radio-div" column>
      <%=form.radio_button :visibility, "secret", id: "journal_secret", name:"journal[visibility]"%>
      <label for="journal_secret">
        <h4>Secret&nbsp;<i class="fa fa-lock" aria-hidden="true" title="This journal is private. Only you can see it."></i></h4>
        <p>Like your childhood diary! No one but you is allowed to see this.</p>
      </label>
    </div>
    <div class="radio-div" column>
      <%=form.radio_button :visibility, "internal", id: "journal_internal", name:"journal[visibility]"%>
      <label for="journal_internal">
        <h4>Internal</h4>
        <p> For members of Reflection Pad only.  They'll be able to view and comment on this.</p>
      </label>
    </div>
    <div class="radio-div" column>
      <%=form.radio_button :visibility, "internet", id: "journal_internet", name:"journal[visibility]"%>
      <label for="journal_internet">
        <h4>Internet&nbsp;<i class="fa fa-globe" aria-hidden="true" title="This journal is public. The entire internet can see it."></i></h4>
        <p> Publicly hosted on the internet.  Only members can comment. </p>
      </label>
    </div>
  </div>
  <div class="actions _pts">
    <%= form.submit %>
  </div>
<% end %>
