<% journal = journal_card %>
<div class="card-box">
  <div class="header">
    <h3 class="title"><%= render partial: 'journals/journal_title', object: journal %></h3>
  </div>
  <div class="card-content">
    <p class="content">
      <% collection = journal.entries.order(:created_at).limit(2)%>
      <% if !collection.empty? %>
      <%= render partial: 'entries/entry', collection: collection %>
      <% else %>
      <h4>It looks like this journal has no entries yet...</h4>
      <% end %>
    </p>
  </div>
  <div class="footer">
    <strong>Author: <%= link_to journal.author.name, journal.author %></strong>
  </div>
</div>
