<h3><%= render partial: 'journals/journal_title', object: journal %></h3>
<% collection = journal.entries.order(:created_at).limit(3)%>
<% if !collection.empty? %>
<%= render partial: 'entries/entry', collection: collection %>
<% else %>
<h4>It looks like this journal has no entries yet...
    <%= journal.author_id == current_author.try(:id) ? link_to("Why not write one?", new_journal_entry_url(journal)) : ""%></h4>
<% end %>
