<% journal = journal_title %>
<%= link_to journal.title, journal %>
<% if journal.secret? %>
<i class="fa fa-lock" aria-hidden="true" title="This journal is private. Only you can see it."></i>
<% elsif journal.internet? %>
<i class="fa fa-globe" aria-hidden="true" title="This journal is public. The entire internet can see it."></i>
<% end %>
