<h1>Journals</h1>

<table>
  <thead>
    <tr>
      <th>Journal Title</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.title %></td>
        <td><%= journal.author.name %></td>
        <td><%= link_to 'Show', journal %></td>
        <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
        <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr><td colspan="5"><pre><%= journal.attributes%></pre></td></tr>
    <% end %>
  </tbody>
</table>

<br>
