<h1><%= render partial: 'journals/journal_title', object: @journal %></h1>
<% if @journal.author_id == current_author.try(:id) %>
<span class="entrymenu">
  <%= link_to edit_journal_path(@journal) do%>
    <i class="_pls fa fa-pencil" aria-hidden="true">
      <span>&nbsp;Edit&nbsp;Journal&nbsp;Settings</span>
    </i>
  <% end %>
  <%= link_to @journal, data: {:confirm => 'Are you sure you want to delete this journal and all of its entries?'}, :method => :delete do%>
    <i class="_pls fa fa-trash" aria-hidden="true">
      <span>&nbsp;Delete</span>
    </i>
  <% end %>
</span>
<% end %>
<% collection = @journal.entries.order(:created_at) %>
<% if !collection.empty? %>
<%= render partial: 'entries/entry', collection: collection %>
<% else %>
<h4>It looks like this journal has no entries yet...
    <%=@journal.author_id == current_author.try(:id) ? link_to("Why not write one?", new_journal_entry_url(@journal)) : ""%></h4>
<% end %>
