/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require concise_settings
 *= require concise
 *= require concise-ui
 *= require concise-utils
 *= require_tree .
 */
 // @import "font-awesome-sprockets";
 // @import "font-awesome";



[container] {
  max-width: 33rem;
}

[container].welcome.index {
    max-width: 1200px;
}

a {
  text-decoration: underline;
}

html {
  // background-image: url(parchment.jpg);
  // background-repeat: repeat repeat;
  // background-blend-mode: luminosity;
  background-color: #FFF7EC !important;

  body {
    // background-image: url(parchment.jpg);
    // background-repeat: repeat repeat;
    // background-blend-mode: luminosity;
    background-color: #FFF7EC;
  }
}

::selection {
  background-color: #a8daff;

}

.title-input {
  background-color: transparent;
  font-size: 2.25rem !important;
  border: 0px black !important;
  display: inline-block;
  text-decoration: underline;
}

.radio-div {
  input[type="radio"] {
    display: none;
    &:not(:disabled) ~ label {
      cursor: pointer;
    }
  }
  label {
    height: 100%;
    display: block;
    border: 2px solid #653131;
    border-radius: 20px;
    padding: 1rem;
    //margin: 1rem;
    text-align: center;
    position: relative;
  }
  input[type="radio"]:checked + label {
    background: #b73333;
    color: white;

    &::after {
      font-family: fontello;
      color: #444;
      border: 2px solid #653131;
      content: "\e808";
      font-size: 24px;
      position: absolute;
      top: -25px;
      left: 95%;
      transform: translateX(-50%);
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      background: #FFF7EC;
      box-shadow: 0px 2px 5px -2px #2b90d9;
    }
  }
  p {
    line-height: normal;
  }
}
