/*!
 * ZenPen
 * http://www.zenpen.io
 * MIT licensed
 *
 * Copyright (C) Tim Holman, http://tholman.com
 */

/*
 Additional Styles..
*/

#entrySave {
	float: right;
}

/*********************************************
 * BASE STYLES
 *********************************************/
*:focus {
	outline: none;
}

header {
	font-weight: bold;
	font-size: 38px;
	word-wrap: break-word;
}

article {
	padding-bottom: 50px;
	line-height: 30px;
	margin-top: 22px;
	min-height: 90%;
	font-size: 22px;
	display: block;
	word-wrap: break-word;
}

blockquote {
	border-left: 4px solid deepskyblue;
	margin-left: -19px;
	padding-left: 15px;
	margin-right: 0;
}

.no-overflow {
	overflow: hidden;
	display: block;
	height: 100%;
	width: 100%;
}

/* Used by the ui bubble to stop wrapping */
.lengthen {
	display: block;
	width: 300px;
	height: 100%;
}

a:hover {
	text-decoration: underline;
}

/*********************************************
 * MODAL
 *********************************************/

.hiddentextbox {
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
}

/*********************************************
 * UI BUBBLE
 *********************************************/

.text-options {

	-webkit-transition: opacity 250ms, margin 250ms;
	-moz-transition: opacity 250ms, margin 250ms;
	-ms-transition: opacity 250ms, margin 250ms;
	-o-transition: opacity 250ms, margin 250ms;
	transition: opacity 250ms, margin 250ms;

	position: absolute;
	left: -999px;
	top: -999px;
	color: #fff;
	height: 0;
	width: 0;
	z-index: 5;
	margin-top: 5px;
	opacity: 0;
}

.text-options.fade {
	opacity: 0;
	margin-top: -5px;
}

.text-options.active {
	opacity: 1;
	margin-top: 0;
}

.options {
	background-color: rgba(50,50,50,.9);
	position: absolute;
	border-radius: 5px;
	margin-left: -63px;
	margin-top: -46px;
	z-index: 1000;
	padding: 5px 4px 5px 5px;
	width: 125px;
	height: 40px;

	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.options.url-mode {
	width: 275px;
	margin-left: -137px;
}

.options.url-mode .bold, .options.url-mode .italic, .options.url-mode .quote {
	width: 0;
	overflow: hidden;
	margin-right: 0;
	opacity: 0;
}

.options .italic {
	font-style: italic;
}

.options button {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;

	float: left;
	width: 28px;
	opacity: .9;
	height: 30px;
	border-radius: 3px;
	margin-right: 1px;
	margin-top: 0;
	line-height: normal;
	font-size: 1rem;
	padding: 0;
	font-family: 'Lora', serif;
}

.options.url-mode input{
	color: #222;
	border-left: 2px solid transparent;
	padding-right: 5px;
	padding-left: 5px;
	width: 236px;
}

.options input {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

	border-radius: 3px;
	overflow: hidden;
	outline: 0;
	height: 30px;
	padding: 0 !important;
	margin: 0;
	border: 0 !important;
	float: left;
	width: 0;
}

.options button.active {
	background-color: rgba(255,255,255,.4);
	opacity: 1;
}

.options button:hover {
	opacity: .95;
}

.options:before {
	content: "";
	border-top: 5px solid rgba(0,0,0,.9);
	border-bottom: 5px solid transparent;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	margin-left: -5px;
	bottom: -15px;
	height: 5px;
	width: 0;
	left: 50%;
}

.url {
	-webkit-font-smoothing: antialiased;
}

.top {
	position: absolute;
	top: 0;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.about {
	font-family: 'Lora', serif;
	font-size: 28px !important
}

.wrapper {
	position: relative;
	height: 100%;
}

/*********************************************
 * PRINT
 *********************************************/

@media print {

	body {
		overflow: visible;
	}

	section {
		color: #111 !important;
	}

	.text-options, .ui, .word-counter {
		display: none;
	}
}
