@media (max-width: 480px) {
  
  .text-options {
  	position: fixed;
  	left: inherit;
    right: 60px;
  	top: 40px;
  	opacity: 1;
  }

  .options:before {
  	content: "";
  	border-top: 0 solid rgba(0,0,0,.9);
  	border-bottom: 0 solid transparent;
  	border-right: 0 solid transparent;
  	border-left: 0 solid transparent;
  	position: absolute;
  	margin-left: -5px;
  	bottom: -15px;
  	height: 5px;
  	width: 0;
  	left: 50%;
  }

  .options.url-mode {
  	width: 275px;
  	margin-left: -137px;
    right: -60px;
  }

  .options.url-mode input{
  	color: #222;
  	border-left: 2px solid transparent;
  	padding-right: 5px;
  	padding-left: 5px;
  	width: 236px;
  }
}
