@font-face {
  font-family: 'fontello';
  src: font-url('fontello.eot?60402510');
  src: font-url('fontello.eot?60402510#iefix') format('embedded-opentype'),
       font-url('fontello.woff2?60402510') format('woff2'),
       font-url('fontello.woff?60402510') format('woff'),
       font-url('fontello.ttf?60402510') format('truetype'),
       font-url('fontello.svg?60402510#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60402510#fontello') format('svg');
  }
}
*/

 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-book:before { content: '\e800'; } /* '' */
.fa-lock:before { content: '\e801'; } /* '' */
.fa-globe:before { content: '\e802'; } /* '' */
.fa-pencil:before { content: '\e803'; } /* '' */
.fa-plus:before { content: '\e804'; } /* '' */
.fa-link:before { content: '\e805'; } /* '' */
.fa-sign-in:before { content: '\e806'; } /* '' */
.fa-sign-out:before { content: '\e807'; } /* '' */
.fa-bars:before { content: '\f0c9'; } /* '' */
.fa-quote-right:before { content: '\f10e'; } /* '' */
.fa-compass:before { content: '\f14e'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-user-plus:before { content: '\f234'; } /* '' */


[class^="fa-"]:before, [class*=" fa-"]:before {
 font-family: "fontello";
 font-style: normal;
 font-weight: normal;
 speak: none;

 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 margin-right: .2em;
 text-align: center;
 /* opacity: .8; */

 /* For safety - reset parent styles, that can break glyph codes*/
 font-variant: normal;
 text-transform: none;

 /* fix buttons height, for twitter bootstrap */
 line-height: 1em;

 /* Animation center compensation - margins should be symmetric */
 /* remove if not needed */
 margin-left: .2em;

 /* you can be more comfortable with increased icons size */
 /* font-size: 120%; */

 /* Font smoothing. That was taken from TWBS */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;

 /* Uncomment for 3D effect */
 /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.fa-2x {
  font-size: 2em;
  span {
    font-size: 1rem;
  }
}
.fa-book:before { content: '\e800'; } /* '' */
.fa-lock:before { content: '\e801'; } /* '' */
.fa-globe:before { content: '\e802'; } /* '' */
.fa-pencil:before { content: '\e803'; } /* '' */
.fa-plus:before { content: '\e804'; } /* '' */
.fa-link:before { content: '\e805'; } /* '' */
.fa-sign-in:before { content: '\e806'; } /* '' */
.fa-ok:before { content: '\e808'; } /* '' */
.fa-sign-out:before { content: '\e807'; } /* '' */
.fa-bars:before { content: '\f0c9'; } /* '' */
.fa-quote-right:before { content: '\f10e'; } /* '' */
.fa-compass:before { content: '\f14e'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-user-plus:before { content: '\f234'; } /* '' */
