
#topnav {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: fixed;

  br {
    margin: 0;
  }

  ul {
    padding: 0;
	  margin: 0;
    display: table;
    overflow: hidden;
    transition: height .3s linear;


    li {
      display: inline;

      a {
        display: inline-block;
    	  width: 8rem;
    	  text-align: center;
    	  text-decoration: none;
    	  padding: 10px 0;


        span {
          display: none;
        }
      }
    }
  }

  a#menutoggle {
    display: none;
    text-indent: 10px;
    text-decoration: none;
  }

  @media (max-width: 480px) {
	  a#menutoggle {
		  display: inline-block;
		  width: 100%;
		  position: relative;
	  }
    margin: auto;

    ul {
      display: none;
      height: auto;

      li {
  		  width: 100%;
  		  float: left;

        a {
          text-align: left;
    	  	width: 100%;
    	  	text-indent: 10px;
        }

        span {
          display: inline !important;
        }
      }
    }
  }
}
