<nav id="topnav" grid="justify-center">
  <ul grid="justify-center">
    <li column>
      <a href="<%= root_path %>" title="Explore">
        <i class="fa fa-2x fa-compass" aria-hidden="true">
          <span class="_pls">&nbsp;Explore</span>
        </i>
      </a>
    </li>
    <% if author_signed_in? %>
    <li column>
      <a href="<%= author_path(current_author) %>" title="My Journals">
        <i class="fa fa-2x fa-book" aria-hidden="true">
          <span class="_pls">&nbsp;My&nbsp;Journals</span>
        </i>
      </a>
    </li>
    <li column>
      <a href="<%= new_entry_path %>" title="New Entry">
        <i class="fa fa-2x fa-pencil" aria-hidden="true">
          <span class="_pls">&nbsp;New&nbsp;Entry</span>
        </i>
      </a>
    </li>
    <li column>
      <a data-method="delete" href="<%= destroy_author_session_path %>">
        <i class="fa fa-2x fa-sign-out" aria-hidden="true">
          <span class="_pls">&nbsp;Log&nbsp;out</span>
        </i>
      </a>
    </li>
    <% else %>
    <li column>
      <a href="<%= new_registration_path(Author) %>">
        <i class="fa fa-2x fa-user-plus" aria-hidden="true">
          <span class="_pls">Sign&nbsp;up</span>
        </i>
      </a>
    </li>
    <li column>
      <a href="<%= new_author_session_path %>">
        <i class="fa fa-2x fa-sign-in" aria-hidden="true">
          <span class="_pls">&nbsp;Log&nbsp;in</span>
        </i>
      </a>
    </li>
    <% end %>
  </ul>
  <a id="menutoggle">
    <i class="fa fa-bars fa-2x _plxs" aria-hidden="true">&nbsp;
      <span class="_pls">&nbsp;Menu</span>
    </i>
  </a>
</br>
</nav>
