<!DOCTYPE html>
<html>
  <head>
    <title>ReflectionPad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'layouts/topnav' %>
    <main container="small" class="<%= controller_name %> <%= action_name %>">
      <div id="notice-area">
        <% if notice %>
        <section class="alert-box -success">
          <p><%= notice %></p>
          <a class="close" href="#">×</a>
        </section>
        <% end %>
        <% if alert %>
        <section class="alert-box -danger">
          <p><%= alert %></p>
          <a class="close" href="#">×</a>
        </section>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
